[submodule "public"]
	path = public
	url = git@github.com:cmol/cmol.github.io.git
	branch = master
[submodule "themes/awesome-identity"]
	path = themes/awesome-identity
	url = https://github.com/posquit0/hugo-awesome-identity
